
#right {
    width: 90%;
}

#recipeImages {
    position: absolute;
    left: 6%;
    margin-top: 50px;
}

#recipeContainer {
    position: absolute;
    left: 45%;
    top: 10%;
    float: left;
}

#ingredientsContainer {
    position: absolute;
    left: 73.2%;
    top: 10%;
}

#recipe {
    border: 2px solid #4ABA00;
    padding: 10px;
    border-radius: 2px;
}

#ingredient {
    border: 1px solid #4ABA00;
    padding: 10px;
    border-radius: 2px;
    margin-top: 5.4px;
    margin-bottom: 1px;
}

#percent {
}

.recipe-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #4ABA00;
    padding: 10px;
    border-radius: 2px;
}

.recipe-name {
    flex: 1;
}

.recipe-percent {
    margin-left: 20px;
}

#directions {
    position: absolute;
    left: -2.8%;
    margin-top: 400px;
    max-width: 40%;
}